# تنظیمات کلی ربات تلگرام
BOT_TOKEN=7676098241:AAGtvcM-G0aj...
SUPER_ADMIN_USER_ID=594976861
SERVER_CAPACITY_GB=2.5

# مشخصات باکت شماره ۱
SERVER1_ACCESS_KEY=your_access_key_here
SERVER1_SECRET_KEY=your_secret_key_here
SERVER1_BUCKET=your_bucket_name_here
SERVER1_ENDPOINT=https://storage.c2.liara.space
SERVER1_REGION=

# مشخصات باکت شماره ۲
SERVER2_ACCESS_KEY=your_access_key_here
SERVER2_SECRET_KEY=your_secret_key_here
SERVER2_BUCKET=your_bucket_name_here
SERVER2_ENDPOINT=https://storage.iran.liara.space
SERVER2_REGION=
